@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

@keyframes ranbow {
  0% {
    color: #ff0000;
    border-color: #ff0000;
  }
  25% {
    color: #c800ff;
    border-color: #c800ff;
  }
  50% {
    color: #40d8e0;
    border-color: #40d8e0;
  }
  75% {
    color: #8cff00;
    border-color: #8cff00;
  }
  100% {
    color: #ff0000;
    border-color: #ff0000;
  }
}

.animate-shake-border {
  animation: shake 0.3s infinite, ranbow 5s linear infinite;
}

.background-svg {
  width: 100%;
  height: 100%;
  background-image: url('/bg.svg');
  background-size: auto; /* 保持图片原有大小 */
  background-repeat: repeat; /* 使图片重复 */
  background-position: top left; /* 确保从左上角开始重复 */
}
